.hero{
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/lab-bg.jpg");
background-size: cover;
background-position: center;
color:white;
text-align:center;
padding:120px 20px;
}
