.hero{
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/lab-bg.jpg");
background-size: cover;
background-position: center;
color:white;
text-align:center;
padding:120px 20px;
}
<iframe src="https://maps.google.com/maps?q=Palamu&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
